{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <h1>Hi {{ user.username }}!</h1>
 <h3>Below are the subscriptions </h3>
 <table class="table">
     <thead>
         <tr>
             <th scope="col">Symbol</th>
             <th scope="col">Email</th>
             <th scope="col">Price</th>
             <th scope="col">Actions</th>
        </tr>
     </thead>
     <tbody>
       {% for subscription in symbols %}
         <tr>
             <td>{{subscription.ticker}}</td>
             <td>{{user.email}}</td>
             <td>{{subscription.price}}</td>
             <td>
                 <a href="/stock/unsubscribe_stocks/{{ subscription.ticker }}">Unsubscribe</a> or
                 <a href="/mail/send_mail/{{ subscription.ticker }}">Send now</a>
             </td>
         </tr>
     {% endfor %}
     </tbody>
 </table>

<a href="/stock/subscribe_stocks">Click here to subscribe to new stocks</a>

<a href="/users/logout">Log out</a>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}